.postItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.postItemTitle {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 25px;
    text-overflow: clip;
    overflow: hidden;
}

.postItemContent {
    background-color: white;
    width: 200px;
    height: 100px;
    border: 1px solid black;
    overflow: hidden;

}

.postItemBtn {
    width: 200px;
    height: 22px;
    margin-top: 10px;
    background-color: #dae9fb;
    border-color: #dae9fb;
    border-radius: 5px;
}